name: macos

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-15-intel

    steps:
    - uses: actions/checkout@v3

    - name: install libs
      run: |
        brew install glfw

    - name: cmake build
      run: |
        mkdir build
        cd  build
        cmake ../ -G Xcode -DFTDI_D2XX_ROOT="../third_party/ftdi/macos"
        cmake --build . --target ALL_BUILD --config Release
        cmake --build . --target ALL_BUILD --config Debug
