name: ubuntu

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: install dependencies
      run: |
       sudo apt-get update
       sudo apt-get install libglfw3-dev
       sudo apt-get install libxinerama-dev libxcursor-dev xorg-dev libglu1-mesa-dev pkg-config

    - name: cmake build
      run: |
        mkdir build
        cd  build
        cmake ../ -DCMAKE_BUILD_TYPE=Release -DFTDI_D2XX_ROOT="../third_party/ftdi/ubuntu"
        cmake --build .
